/**
 * @name system24 (refresh kanagawa)
 * @description a tui-style discord refresh theme.
 * @author refact0r, Halides
 * @version 2.1.0
 */

/* import theme modules */
@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    /* Font, change to '' for default discord font */
    --font: 'DM Mono';
    font-weight: 300; /* UI font weight, does not affect bold text */
    letter-spacing: -0.05ch; /* decreases letter spacing for better readability. */

    /* Sizes */
    --gap: 16px; /* spacing between panels */
    --divider-thickness: 2px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);

    /* Animation/Transition Options */
    --animations: on; /* turn off to disable all midnight animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* Top Bar Options */
    --top-bar-height: 32px; /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* Window Controls */
    --custom-window-controls: on; /* turn off to use discord default window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* DMs Button Icon Options 
     * off: use default discord icon,
     * hide: remove icon entirely,
     * custom: use custom icon
     */
    --custom-dms-icon: off;
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */

    /* DMs Button Background Options 
     * off to disable
     * image to use a background image
     * color to use a custom color/gradient 
     */
    --custom-dms-background: off; 
    --dms-background-image-url: url('https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png'); /* url of background image */
    --dms-background-image-size: cover; /* size of background image (css background-size) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));

    /* Background Image Options */
    --background-image: off; /* off: no background image, on: enable background image */
    --background-image-url: url(''); /* url of the background image */

    /* INFO: If using a jpg or png that is not quite circular... uncomment below */
    /* .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 { */
    /*   border-radius: 50% !important; */
    /* } */

    /* Transparency/Blur Options
     * NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. 
     * FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); 
     */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */

    /* Turn on to remove the base --bg-3 layer for use with window transparency 
     * WARN: WILL OVERRIDE BACKGROUND IMAGE
     */
    --remove-bg-layer: off; 
    --panel-blur: off; /* turn on to blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    /* You can set this to a more opaque color if floating panels look too transparent */
    --bg-floating: var(--bg-3); 

    /* Chatbar Options
     * off: default chatbar
     * aligned: chatbar aligned with the user panel
     * separated: chatbar separated from chat 
     */
    --custom-chatbar: aligned;
    /* height of the chatbar
     * 52px by default
     * 47px recommended for aligned
     * 56px recommended for separated
     */
    --chatbar-height: 56px;
    --chatbar-padding: 0px; /* only applies to aligned mode */

    /* Other Options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */

    /* ascii options */
    --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
    --ascii-loader: cats; /* off: default, system24: use system24 ascii loader, cats: use cats gif loader */
}

/* Color Options */
:root {
    --colors: on; /* off: discord default colors, on: custom colors */

    /* Text Colors */
    --text-0: var(--bg-4);                /* text on colored elements */
    --text-1: oklch(100% 0 0);            /* other normally white text */
    --text-2: var(--text-3);              /* headings and important text */
    --text-3: oklch(87.55% 0.0391 99.09); /* normal text */
    --text-4: oklch(74% 0.048 264.82);    /* icon buttons and channels */
    --text-5: oklch(0.55 0.0122 100.99);  /* muted channels/chats and timestamps */

    /* Background and Dark Colors */
    --bg-1: hsla(220, 15%, 20%, 1);       /* dark buttons when clicked */
    --bg-2: var(--hover);                 /* dark buttons */
    --bg-3: var(--bg-4);                  /* spacing, secondary elements */
    --bg-4: oklch(24.33% 0.017 285.06);   /* main background color */
    --hover: oklch(54% 0 0 / 0.1);        /* channels and buttons when hovered */
    --active: oklch(54% 0 0 / 0.2);       /* channels and buttons when clicked or selected */
    --active-2: hsla(220, 19%, 40%, 0.3); /* extra state for transparent buttons */
    --message-hover: var(--hover);        /* messages when hovered */

    /* Accent Colors */
    --accent-1: var(--blue-1);  /* links and other accent text */
    --accent-2: var(--blue-2);  /* small accent elements */
    --accent-3: var(--blue-2);  /* accent buttons */
    --accent-4: var(--blue-4);  /* accent buttons when hovered */
    --accent-5: var(--blue-5);  /* accent buttons when clicked */
    --accent-new: var(--red-1); /* stuff that's normally red like mute/deafen buttons */

    /* Mention Colors (No Gradient) */
    --mention: var(--yellow-3);
    --mention-hover: var(--hover); 
    --reply: var(--blue-3); 
    --reply-hover: var(--hover);

    /* Status Indicator Colors */
    --online: var(--green-2);     /* change to #40a258 for default */
    --dnd: var(--red-1);          /* change to #d83a41 for default */
    --idle: var(--yellow-2);      /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to #9147ff for default */
    --offline: var(--text-4);     /* change to #82838b for default */

    /* Border Colors */
    --border-light: oklch(45.58% 0.0405 284.68); /* light border color */
    --border: oklch(45.58% 0.0405 284.68); /* normal border color */
    --button-border: none; /* neutral border color of buttons */

    /* NOTE: Colors that are commented correspond to kanagawa colors. 
     * Colors that aren't are inherited from midnight.
     */

    /* Base Colors */
    --red-1: oklch(0.56 0.167 23.09);        /* DND dot, git delete red */
    --red-2: oklch(0.6 0.2269 27.65);        /* red */
    --red-3: oklch(0.69 0.1971 22.11);       /* peachRed */
    --red-4: oklch(0.3 0.048 5.77);          /* diff delete backgrond */
    --red-5: oklch(0.67 0.1544 15.27);       /* waveRed */

    --green-1: oklch(74.77% 0.1125 128.36);  /* multi-factor auth text */
    --green-2: oklch(63.22% 0.0698 136.92);  /* online dot */
    --green-3: oklch(64% 0.11 170);
    --green-4: oklch(58% 0.11 170);
    --green-5: oklch(52% 0.11 160);

    --blue-1: oklch(0.6993 0.122 245.55);    /* accent color */
    --blue-2: oklch(0.69 0.0951 263.66);     /* crystal blue */
    --blue-3: oklch(0.31 0.0467 257.43);     /* reply color */
    --blue-4: oklch(0.74 0.064 225.72);      /* spring blue */
    --blue-5: oklch(0.6 0.0428 228.33);      /* dragon blue */

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(76% 0.11 71);          /* idle */
    --yellow-3: oklch(39% 0.015 80);         /* mention message bg color */
    --yellow-4: oklch(62% 0.11 90);
    --yellow-5: oklch(56% 0.11 90);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(65.19% 0.0466 298.38); /* streaming dot */
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);
}
/* uppercase channel category and role category */
.visual-refresh {
  .sidebarList_c48ade::after {
    content: 'server';
  }
  .messagesWrapper__36d07::after {
    content: 'messages';
  }
  /* reverse order of down-arrow and channel category */
  .name__29444 {
      order: 2;
  }
  .membersGroup_c8ffbb span:nth-of-type(2),
  .name__29444 div {
      text-transform: uppercase;
  }
  .chatContent_f75fb0 {
      border: none !important;
  }
  /* Applies to 'mark as read' button from 'new messages' bar at top */
  .barButtonAlt__0f481 {
      /* Removes button color on hover */
      --button-secondary-background-hover: none !important;
  }
  .content_f75fb0 > .membersWrap_c8ffbb {
    overflow: visible;
  }
  div.membersWrap_c8ffbb::after {
    content: 'members';
    display: block;
    color: var(--label-color);
    font-weight: var(--label-font-weight);
    position: absolute;
    top: -10px;
    left: 8px;
    background-color: var(--background-base-lower);
    padding: 0 4px;
    z-index: 100;
    font-size: 16px;
  }
  /* HACK: Janky overrides for adding hover color to border behavior */
  .applicationStore_f07d62,
  .bar_c38106,
  .channelTextArea_7401,
  .channelTextArea_f75fb0,
  .callContainer_cb9592,
  .callContainer__722ff,
  .container_a592e1,
  .container_f369db,
  .container_c8ffbb,
  .container__133bf,
  .container__2637a,
  .container__551b0,
  .tabBody__133bf,
  .content_f75fb0>.outer_c0bea0,
  .form_f75fb0,
  .guilds_c48ade,
  .itemCard__7e549,
  .membersWrap_c8ffbb,
  .messagesWrapper__36d07,
  .nowPlayingColumn__133bf,
  .outer_c0bea0,
  .peopleColumn__133bf,
  .panels_c48ade,
  .privateChannels__35e86,
  .sidebarList_c48ade,
  .searchResultsWrap_a9e706,
  .wrapper_e131a9,
  .shop__6db1d,
  .peopleListItem_cc6179,
  .subtitleContainer_f75fb0 {
      transition: border-color 0.2s ease;
      &:hover {
          border-color: var(--accent-2) !important;
          &::after {
              color: var(--accent-2);
          } 
          &::before {
              color: var(--accent-2);
          } 
      }
  }
}
